@import "tailwindcss";
@plugin "daisyui";
@config "../../tailwind.config.js";

:root {
    --html-background: rgb(240, 242, 255);
}

html.dark:root {
    --html-background: rgb(0,0,0); /* pure black for OLED screens for better battery life and energy efficiency */
}

body {
    @apply bg-[var(--html-background)] text-foreground;
    scroll-behavior: smooth;
}

body, html {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) .64s !important;
}

*:not([data-disable-default-transitions]) {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all .24s;
}

.heroui-ripple {
    @apply blur-md;
}

.text-gradient {
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background: linear-gradient(to right, var(--tw-gradient-stops));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

[role="button"] {
    font-weight: 600;
    letter-spacing: 1px;
}

[data-interactive="true"] {
    cursor: pointer;
    user-select: none;
}

[data-interactive="true"]:hover {
    @apply scale-[1.03] rotate-1;
}

[data-interactive="true"]:active {
    @apply rotate-0;
}

[data-interactive="true"]:active,
[data-active-bounce="true"]:active {
    @apply scale-[0.98] duration-[120ms];
}